<!DOCTYPE html>
<html>
<head>
  <title>Navajos</title>
</head>
<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
  body{font-family: 'Roboto', sans-serif;color: #fff;}
  .back{background-image: url(back.jpg);background-repeat: no-repeat;margin: 0 auto;width: 1000px;background-size: cover;height: 720px;text-align: center;padding: 30px;}
    header{padding: 100px;padding-bottom: 0;}
    header .Text{color: #fff;font-size: 25px;padding: 100px;padding-bottom: 40px;}
    .logo-Panlar img{width: 250px;margin: 0 auto;}
    .container .nombre{font-size: 50px;font-weight: 100;border-bottom: 2px solid;width: 80%;margin: 0 auto;padding-bottom: 10px;margin-bottom: 20px;}
    .container .date{font-size: larger;font-weight: 100;letter-spacing: 1px;}
    footer {display: flex;width: 70%;margin: 0 auto;margin-top: 10px;}
    footer img{width: 90%;height: auto;}
</style>
<body>
  <div class="back">
    <header>
      <div class="logo-Panlar">
        <img src="logo-panlar.svg" alt="Logo Panlar">
      </div>
      <div class="Text">
        Panlar certifica la asistencia del <strong>3 Congreso Panamericano de Pacientes con Enfermedades Reumáticas</strong>
      </div>
      
    </header>

    <div class="container">
      <h2 class="nombre">Juan Arzuza</h2>
      <strong class="date">16 de septiembre de 2020</strong>
    </div>

    <div class="container">
      <strong class="date">Certificado número: xxxxx-xxxxx-xxx</strong>
    </div>

    <footer>
      <div>
        <img src="firma.png" alt="firma01">
      </div>

      <div>
        <img src="firma.png" alt="firma02">
      </div>

      <div>
        <img src="firma.png" alt="firma03">
      </div>
    </footer>
  </div>


</body>
</html>