<!-- ______________________ MAIN _______________________ -->
<div id="main" class="page-front" ng-cloak>
    <div class="top">
        <div class="slider">
            <div class="item-sd">
                <figure>  
                    <img src="http://gr.davidmartinezb.com/sites/default/files/styles/max_1300x1300/public/foto-portada/articulos/2019-07/shutterstock_398630980.jpg?itok=DPH65Yow" width="1300" height="731" alt="Imagen Shutterstock" typeof="foaf:Image">
                </figure>
                <div class="text">
                    <h2>Title1</h2>
                    <p>Nostrud voluptate proident deserunt aliqua laboris esse ut ipsum proident laboris cillum. Reprehenderit cupidatat amet est non ea veniam elit proident laborum. Qui non ea cupidatat nulla. Nostrud est nisi dolore reprehenderit.</p>
                    <div class="action">
                        <a href="#">Crear una cuenta gratis</a>
                    </div>
                </div>
            </div>
            <div class="item-sd">
                <figure>  
                    <img src="http://gr.davidmartinezb.com/sites/default/files/styles/max_1300x1300/public/foto-portada/articulos/2019-07/shutterstock_398630980.jpg?itok=DPH65Yow" width="1300" height="731" alt="Imagen Shutterstock" typeof="foaf:Image">
                </figure>
                <div class="text">
                    <h2>Title2</h2>
                    <p>Nostrud voluptate proident deserunt aliqua laboris esse ut ipsum proident laboris cillum. Reprehenderit cupidatat amet est non ea veniam elit proident laborum. Qui non ea cupidatat nulla. Nostrud est nisi dolore reprehenderit.</p>
                    <div class="action">
                        <a href="#">Acción 2</a>
                    </div>
                </div>
            </div>
            <div class="item-sd">
                <figure>  
                    <img src="http://gr.davidmartinezb.com/sites/default/files/styles/max_1300x1300/public/foto-portada/articulos/2019-07/shutterstock_398630980.jpg?itok=DPH65Yow" width="1300" height="731" alt="Imagen Shutterstock" typeof="foaf:Image">
                </figure>
                <div class="text">
                    <h2>Title3</h2>
                    <p>Nostrud voluptate proident deserunt aliqua laboris esse ut ipsum proident laboris cillum. Reprehenderit cupidatat amet est non ea veniam elit proident laborum. Qui non ea cupidatat nulla. Nostrud est nisi dolore reprehenderit.</p>
                    <div class="action">
                        <a href="#">Acción 3</a>
                    </div>
                </div>
            </div>
            <div class="item-sd">
                <figure>  
                    <img src="http://gr.davidmartinezb.com/sites/default/files/styles/max_1300x1300/public/foto-portada/articulos/2019-07/shutterstock_398630980.jpg?itok=DPH65Yow" width="1300" height="731" alt="Imagen Shutterstock" typeof="foaf:Image">
                </figure>
                <div class="text">
                    <h2>Title4</h2>
                    <p>Nostrud voluptate proident deserunt aliqua laboris esse ut ipsum proident laboris cillum. Reprehenderit cupidatat amet est non ea veniam elit proident laborum. Qui non ea cupidatat nulla. Nostrud est nisi dolore reprehenderit.</p>
                    <div class="action">
                        <a href="#">Acción 4</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        {{ drupal_block('ngt_course_main') }}
    </div>

    <div class="bottom">
        {{ drupal_block('ngt_course_category') }}
    </div>
</div>
<!-- /#main -->