footer{
    .newsetter{
        padding: 50px 30px;
        background: #F7F7F7;
        .left{
            h3{
                font: {
                    size: 18px;
                }
                color: $azul;
                text-align: center;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            p{
                font: {
                    size: 15px;
                }
                line-height: 1.3em;
                color: #535353;
                text-align: center;
                margin: 0 0 20px;
            }
        }
        .right{
            form{
                input[type="email"]{
                    width: 100%;
                    height: 44px;
                    padding: 0 15px;
                    border: 1px solid #9F9F9F;
                    border-radius: 6px;
                    margin: 0 0 20px;
                }
                button{
                    -webkit-appearance: none;
                    display: block;
                    margin: 0 auto;
                    width: 112px;
                    height: 34px;
                    padding: 0;
                    border: 0;
                    border-radius: 20px;
                    background: $amarillo;
                    font: {
                        size: 13px;
                    }
                    color: $azul;
                }
            }
        }
    }
    .box{
        padding: 70px 50px;
        background: $azul;
        p{
            font: {
                size: 15px;
            }
            line-height: 1.3em;
            color: #fff;
            text-align: center;
            &.copyright{
                font: {
                    size: 12px;
                }
            }
        }
        nav{
            margin: 40px 0;
            li{
                list-style: none;
                text-align: center;
                margin: 0 0 15px;
                a{
                    font: {
                        family: 'Montserrat', sans-serif;
                        size: 15px;
                        weight: 400;
                    }
                    line-height: 1.3em;
                    color: #fff;
                }
            }
        }
    }
    #menu-fixed{
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 50px;
        background: #fff;
        -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
        z-index: 2;
        @media only screen and ($desktop){
            display: none;
        }
        .icon{
            width: 20%;
            font: {
                size: 0;
            }
            -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
            &:before{
                content: '';
                display: block;
                margin: 10px auto;
                width: 30px;
                height: 30px;
                background:{
                    image: url(../img/sprite-icon-menu.svg);
                    size: 150px;
                    repeat: no-repeat;
                }
            }
            &.icon-gal{
                &:before{
                    background: {
                        position: 0 0;
                    }
                }
                &.acitve{
                    &:before{
                        background: {
                            position: 0 -30px;
                        }
                    }
                }
            }
            &.icon-home{
                &:before{
                    background: {
                        position: -30px 0;
                    }
                }
                &.acitve{
                    &:before{
                        background: {
                            position: -30px -30px;
                        }
                    }
                }
            }
            &.icon-search{
                &:before{
                    background: {
                        position: -60px 0;
                    }
                }
                &.acitve{
                    &:before{
                        background: {
                            position: -60px -30px;
                        }
                    }
                }
            }
            &.icon-media{
                &:before{
                    background: {
                        position: -90px 0;
                    }
                }
                &.acitve{
                    &:before{
                        background: {
                            position: -90px -30px;
                        }
                    }
                }
            }
            &.icon-logout{
                &:before{
                    background: {
                        position: -120px 0;
                    }
                }
                &.acitve{
                    &:before{
                        background: {
                            position: -120px -30px;
                        }
                    }
                }
            }
            &.active{
                border-bottom: 4px solid $aqua;
            }
        }
    }
}