// VARIABLES ----------------------------------------
$sombra: 0 3px 6px rgba(0, 0, 0, 0.16);
$azul: #0A2952;
$amarillo: #FFA41B;
$aqua: #00A8CC;
// FIN VARIABLES ----------------------------------------
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 10px;
}
a{
    text-decoration: none;
}
figure{
    margin: 0;
    img{
        display: block;
        max-width: 100%;
    }
}