#main{
    &.page-front{
        >.top{
            .destacado{
                .slider{
                    .item-sd{
                        position: relative;
                        figure{
                            height: calc(100vh - 40px);
                            @media only screen and ($desktop){
                                height: 100vh;
                                min-height: 600px;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background: linear-gradient(90deg, #0B2152, #3E54D3);
                                opacity: .9;
                                border-radius: 5px;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .text{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 30px;
                            background: rgba(0, 0, 0, 0.2);
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            @media only screen and ($desktop){
                                padding: 40px;
                            }
                            h2{
                                font: {
                                    size: 23px;
                                }
                                color: #fff;
                                text-align: center;
                                text-transform: uppercase;
                                margin: 0 0 30px;
                            }
                            p{
                                font: {
                                    size: 17px;
                                }
                                line-height: 1.3em;
                                color: #fff;
                                text-align: center;
                                margin: 0 0 60px;
                            }
                            .action{
                                display: block;
                                margin: 0 auto;
                                padding: 0 25px;
                                border: 0;
                                border-radius: 30px;
                                background: $aqua;
                                font: {
                                    family: 'Montserrat', sans-serif;
                                    size: 14px;
                                    weight: 600;
                                }
                                line-height: 45px;
                                color: #fff;
                            }
                        }
                    }
                    .owl-dots{
                        position: absolute;
                        right: 0;
                        bottom: 60px;
                        left: 0;
                        margin: auto;
                        width: 60px;
                        display: flex;
                        justify-content: space-between;
                        .owl-dot{
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            background: $aqua;
                            -webkit-transition: all 0.15s linear;
                            transition: all 0.15s linear;
                            &.active{
                                width: 30px;
                            }
                        }
                    }
                }
            }
            .benefits{
                margin: 0 0 60px;
                padding: 60px 30px;
                -webkit-box-shadow: $sombra;
                box-shadow: $sombra;
                @media only screen and ($desktop){
                    padding: 80px 40px;
                }
                .list{
                    width: 230px;
                    padding: 0;
                    margin: 0 auto;
                    list-style: none;
                    @media only screen and ($tablet){
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                    }
                    li{
                        font: {
                            size: 15px;
                        }
                        line-height: 1.3em;
                        color: #535353;
                        position: relative;
                        padding: 0 0 0 60px;
                        margin: 0 0 40px;
                        @media only screen and ($desktop){
                            font: {
                                size: 25px;
                            }
                            width: 30%;
                            padding: 0 0 0 110px;
                            margin: 0;
                        }
                        &:before{
                            content: '';
                            display: block;
                            width: 44px;
                            height: 44px;
                            border: 2px solid $azul;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            @media only screen and ($desktop){
                                -webkit-transform: scale(2);
                                transform: scale(2);
                                transform-origin: top left;
                            }
                        }
                        &:after{
                            content: '';
                            display: block;
                            width: 8px;
                            height: 20px;
                            border: {
                                width: 0 2px 2px 0;
                                style: solid;
                                color: $azul;
                            }
                            position: absolute;
                            top: 10px;
                            left: 18px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            @media only screen and ($desktop){
                                -webkit-transform: rotate(45deg) scale(2);
                                transform: rotate(45deg) scale(2);
                                transform-origin: top left;
                                top: 20px;
                                left: 58px;
                            }
                        }
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
        }
        >.center, .bottom{
            padding: 0 24px;
        }
        >.center{
            .course{
                h3{
                    font: {
                        size: 21px;
                    }
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.06em;
                    color: $turqui;
                    margin: 0 0 20px;
                }
                p{
                    font: {
                        size: 15px;
                    }
                    color: #535353;
                    text-align: center;
                    margin: 0 0 30px;
                }
            }
        }
        >.bottom{
            .select{
                margin: 0 0 40px;
                .mobile{
                    select{
                        -webkit-appearance: none;
                        font: {
                            family: 'Montserrat', sans-serif;
                            size: 15px;
                            weight: 700;
                            width: inherit;
                            padding: 0px;
                        }
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: .255em;
                            vertical-align: .255em;
                            border-top: .3em solid;
                            border-right: .3em solid transparent;
                            border-bottom: 0;
                            border-left: .3em solid transparent;
                        }
                        background-color: #fff;
                        line-height: 30px;
                        color: $turqui;
                        display: block;
                        border: 0;
                        border-bottom: 3px solid $turqui;
                        border-radius: 0;
                        margin: 0 auto;
                        outline: none;
                    }
                }
                .desktop{
                    display: none;
                }
            }
            .course{
                .load_more{
                    button{
                        -webkit-appearance: none;
                        display: block;
                        margin: 0 auto 40px;
                        width: 150px;
                        height: 38px;
                        padding: 0;
                        border: 0;
                        border-radius: 20px;
                        background: $aqua;
                        font: {
                            size: 13px;
                        }
                        color: #fff;
                    }
                }
            }
        }
    }
}

