.node-course{
    position: relative;
    padding: 56vw 0 0;
    @media only screen and ($desktop){
        padding: 0 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section{
        margin: 0 30px;
        @media only screen and ($desktop){
            margin: 0;
        }
        &.top{
            @media only screen and ($desktop){
                width: 100%;
            }
            .info{
                padding: 30px 0 0;
                h1{
                    font: {
                        size: 18px;
                    }
                    color: $turqui;
                    text-align: center;
                    margin: 0 0 15px;
                }
                .summary{
                    font: {
                        size: 15px;
                    }
                    color: #535353;
                    text-align: center;
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
            .details{
                padding: 30px 0;
                border-bottom: 1px solid #c2c2c2;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media only screen and ($desktop){
                    border: 0;
                    flex-direction: row;
                    justify-content: center;
                }
                .author{
                    display: block;
                    padding: 0 0 30px;
                    border-bottom: 1px solid #c2c2c2;
                    margin: 0 0 30px;
                    @media only screen and ($desktop){
                        padding: 0;
                        border: 0;
                        margin: 0;
                    }
                    figure{
                        display: flex;
                        justify-content: center;
                        margin: 0 0 10px;
                        img{
                            width: 48px;
                            height: 48px;
                            margin: 0 -10px 0 0;
                            border: 3px solid #fff;
                            border-radius: 50%;
                            object-fit: cover;
                            &:first-child{
                                z-index: 3;
                            }
                            &:nth-child(2){
                                z-index: 2;
                            }
                            &:nth-child(3){
                                z-index: 1;
                                margin: 0;
                            }
                        }
                    }
                    figcaption{
                        text-align: center;
                        @media only screen and ($desktop){
                            display: none;
                        }
                        a{
                            font: {
                                size: 13px;
                            }
                            color: #747474;
                            white-space: nowrap;
                            &:after{
                                content: ',';
                            }
                            &:last-child{
                                &:after{
                                    content: '.';
                                }
                            }
                        }
                    }
                }
                .box-elements{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media only screen and ($desktop){
                        width: 50%;
                        height: 50px;
                        flex-wrap: wrap;
                    }
                    .date{
                        font: {
                            weight: 500;
                            size: 13px;
                        }
                        color: #747474;
                        margin: 0 0 10px;
                        @media only screen and ($desktop){
                            width: 33%;
                            margin: 0;
                        }
                    }
                    .item{
                        font: {
                            size: 13px;
                        }
                        color: #747474;
                        margin: 0 0 10px;
                        @media only screen and ($desktop){
                            width: 33%;
                            margin: 0;
                        }  
                          &:before{
                            content: '';
                            display: inline-block;
                            vertical-align: text-top;
                            margin: 0 4px 0 0;
                            width: 16px;
                            height: 16px;
                            background:{
                                image: url(../img/sprite-icon-generales.svg);
                                size: 240px;
                                position: -7px -7px;
                                repeat: no-repeat;
                                color: transparent;
                                }
                            }  

                        &.module{
                          &:before{
                            background-position:-37px -7px;
                            }  
                        } 
                        &.students{
                            &:before{
                            background-position:-67px -7px;
                            }
                        }
                        &.language{
                            &:before{
                            background-position:-98px -7px;
                            }
                        }
                        

                    }

                    .rating{
                        margin: 0 0 35px;
                        @media only screen and ($desktop){
                            width: 33%;
                            margin: 0;
                        }
                    }
                }
                .action{
                    display: flex;
                    @media only screen and ($desktop){
                        display: none;
                    }
                    button{
                        -webkit-appearance: none;
                        height: 34px;
                        padding: 0;
                        border-radius: 20px;
                        &.show-course{
                            margin: 0 15px 0 0;
                            width: 134px;
                            border: 0;
                            background: $aqua;
                            font: {
                                size: 13px;
                            }
                            color: #fff;
                        }
                        &.save{
                            width: 34px;
                            border: 1px solid $turqui;
                            font: {
                                size: 0;
                            }
                            background:{
                                image: url(../img/sprite-icon-generales.svg);
                                size: 240px;
                                position: -149px 2px;
                                repeat: no-repeat;
                                color: transparent;
                            }
                        }
                    }
                }
            }
        }
        &.left{
            display: none;
            @media only screen and ($desktop){
                display: block;
                width: 25%;
            }
            .course-action{
            }
            .action{
            }
            .share{
            }
        }
        &.right{
            @media only screen and ($desktop){
                width: 70%;
            }
            .main-content{
                padding: 30px 0 50px;
                border-bottom: 1px solid #c2c2c2;
                margin: 0 0 50px;
                .course-action{
                    margin: 0 0 30px;
                    @media only screen and ($desktop){
                        display: none;
                    }
                    select{
                        -webkit-appearance: none;
                        font: {
                            family: 'Montserrat', sans-serif;
                            size: 15px;
                            weight: 700;
                        }
                        line-height: 30px;
                        color: $turqui;
                        display: block;
                        background: #fff;
                        border: 0;
                        border-bottom: 3px solid $turqui;
                        border-radius: 0;
                        margin: 0 auto;
                    }
                }
                .content-video{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 56vw;
                    @media only screen and ($desktop){
                        position: relative;
                        top: auto;
                        left: auto;
                        height: auto;
                    }
                    .cover-video{
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:before{
                            content: '';
                            display: block;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background: rgba(0, 0, 0, 0.4);
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                        }
                        &:after{
                            content: '';
                            width: 0;
                            height: 0;
                            border: {
                                style: solid;
                                width: 8px 0 8px 13.9px;;
                                color: transparent transparent transparent #fff;
                            }
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 5px;
                            margin: auto;
                        }
                        &.active{
                            display: block;
                        }
                    }
                    video, iframe{
                        display: block;
                        width: 100%;
                        height: 56vw;
                    }
                }
                .content-tab{
                    h2{
                        display: none;
                        @media only screen and ($desktop){
                            display: block;
                        }
                    }
                    p{
                        font: {
                            size: 15px;
                        }
                        font-weight: 300;
                        letter-spacing: 1px;
                        line-height: 1.5em;
                        color: #2B2B2B;
                        margin: 0 0 25px;
                        &:last-child{
                            margin: 0;
                        }
                    }
                    .description{
                        margin: 0 0 50px;
                        font-weight: 300;
                        letter-spacing: 1px;
                    }
                    h3{
                        font: {
                            weight: 600;
                        }
                        color: #535353;
                        letter-spacing: 0.05em;
                        text-align: center;
                        margin: 0 0 30px;
                        &:after{
                            content: '';
                            display: block;
                            margin: 15px auto 0;
                            width: 35px;
                            height: 5px;
                            border-radius: 4px;
                            background: $azul;
                        }
                    }
                    .list{
                        .author{
                            margin: 0 0 40px;
                            figure{
                                margin: 0 0 20px;
                                img{
                                    margin: 0 auto;
                                    width: 80px;
                                    height: 80px;
                                    border: 3px solid #fff;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }
                            }
                            .info{
                                text-align: center;
                                .name{
                                    font: {
                                        weight: 700;
                                        size: 15px;
                                    }
                                    color: $turqui;
                                    display: inline-block;
                                    margin: 0 0 10px;
                                }
                            }
                            &:last-child{
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .other-course{
                h3{
                    font: {
                        weight: 600;
                    }
                    color: #535353;
                    letter-spacing: 0.05em;
                    text-align: center;
                    margin: 0 0 30px;
                    &.title{
                        margin-bottom: 10px;
                        text-align: left;
                    }
                }
                .more{
                    
                }

                .item-news .text>.author.multiple figure img{
                    margin: 0px;
                }
                .owl-carousel .owl-stage{
                    display: flex;
                    align-items: center;
                }
                .owl-carousel.owl-drag .owl-item{
                    opacity: 0.5;

                }
                .owl-carousel.owl-drag .owl-item.active.center{
                    opacity: 1;
                    margin: auto 5px;
                    .text{
                        transition: 0.3s;
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}