.page-user-login{
    .user-login-form{
        .main-form-login{
            .image-logo__wrapper{
                height: 170px;
                background: linear-gradient(#3E54D3,#24338A,#0B2152);
                display: flex;
                justify-content: center;
                align-items: center;
                figure{
                    width: 155px;
                }
            }
            .login-form__wrapper{
                padding: 60px 40px;
                .login-form__top{
                    h3{
                        font: {
                            size: 20px;
                        }
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        margin: 0 0 15px;
                    }
                    .message_login{
                        font: {
                            size: 13px;
                        }
                        color: #535353;
                        text-align: center;
                        margin: 0 25px 30px;
                    }
                }
            }
        }
    }
}