{% set directive_new = directive|replace({'-':'_'}) %}
<div class="{{ class }}" {{ directive }} ng-cloak ng-init="uuid_{{ directive_new }} = '{{ uuid }}'">
    <button ng-click="action(typeAction)" class="show-course" >{[{ textBtn }]}</button>
</div>