<div class="body main node-course">
    <div class="top">
        {{ drupal_block('ngt_node_top_course', {'node' : node.id }) }}                     
    </div>

    <div class="left">
        {{ drupal_block('ngt_node_left_course', {'node' : node.id }) }} 
    </div>

    <div class="right">
        {{ drupal_block('ngt_node_right_course', {'node' : node.id }) }} 
        {{ drupal_block('ngt_node_more_course', {'node' : node.id }) }} 
    </div>
</div>