<div class="body main node-leccion">
    <section class="top">
        {{ drupal_block('ngt_general_node_top_lesson', {'node' : node.id }) }}                     
    </section>

    <section class="left">
      
    </section>

    <section class="right">
    {{ drupal_block('ngt_general_node_right_lesson', {'node' : node.id }) }}
    </section>
</div>