/* Error: expected "{".
 *    ,
 * 70 | >>>>>>> 4cbb7277c80b93617c7158765b2d4320a1a2afed
 *    |                                                 ^
 *    '
 *   web/themes/custom/ngt_theme/asset/sass/components/_nodo.scss 70:49  @import
 *   web/themes/custom/ngt_theme/asset/sass/style.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 70 \2502  >>>>>>> 4cbb7277c80b93617c7158765b2d4320a1a2afed\a    \2502                                                  ^\a    \2575 \a   web/themes/custom/ngt_theme/asset/sass/components/_nodo.scss 70:49  @import\a   web/themes/custom/ngt_theme/asset/sass/style.scss 7:9               root stylesheet';
}
