<div class="course-action">
    <nav>
        <li ng-click="tab = 'contentPresentation'" ng-class="(tab == 'contentPresentation') ? 'active' : 'no-active'">Presentación</li>
        <li ng-click="tab = 'contentMain'" ng-class="(tab == 'contentMain') ? 'active' : 'no-active'">Contenidos</li>
        <!--<li ng-click="tab = 'contentCommunity'" ng-class="(tab == 'contentCommunity') ? 'active' : 'no-active'">Comunidad</li>-->
    </nav>
</div>
<div class="action">
    <button class="show-course">Reservar cupo</button>
    <button class="save">guardar</button>
</div>
<div class="share">
    <a href="#" class="facebook">Compartir</a>
    <a href="#" class="twetter">Tweet</a>
</div>