<div class="box">
    <div class="course-action desktop">
        <nav>
            <li class="active">Presentación</li>
            <li>Contenidos</li>
            <li>Comunidad</li>
        </nav>
    </div>
    <div class="action mobile">
        <button class="show-course">Reservar cupo</button>
        <button class="save">guardar</button>
    </div>
    <div class="share mobile">
        <a href="#" class="facebook">Compartir</a>
        <a href="#" class="twetter">Tweet</a>
    </div>
    <div class="course-action mobile">
        <select name="" id="">
            <option value="" selected>Presentación</option>
            <option value="">Contenidos</option>
            <option value="">Comunidad</option>
        </select>
    </div>
</div>