<div class="course-action">
    <nav>
        <li class="active">Presentación</li>
        <li>Contenidos</li>
        <li>Comunidad</li>
    </nav>
</div>
<div class="action">
    <button class="show-course">Reservar cupo</button>
    <button class="save">guardar</button>
</div>
<div class="share">
    <a href="#" class="facebook">Compartir</a>
    <a href="#" class="twetter">Tweet</a>
</div>