<div class="leccion-action">
    <nav>
        <li>Presentación</li>
        <li class="active">Contenidos</li>
        <li>Comunidad</li>
    </nav>
</div>
{{ drupal_block('ngt_general_node_lesson_modules', {'node' : data[0].nid }) }}