<div class="module">
    <ul>
        <li>
            <i class="icon module active">M1</i>
            <a href="#">módulo 1</a>
        </li>
        <li>
            <i class="icon module">M1</i>
            <a href="#">módulo 2</a>
        </li>
        <li>
            <i class="icon module">M1</i>
            <a href="#">módulo 3</a>
        </li>
        <li>
            <i class="icon module">M1</i>
            <a href="#">módulo 4</a>
        </li>
        <li>
            <i class="icon evaluate">evaluación</i>
            <a href="#">Evaluación final</a>
        </li>
    </ul>
</div>