<header>
    <div class="box">
        <div class="left">
            <figure>
                <img src="{{ file_url(general_logo) }}">
            </figure>
            {# Get menu items #}
            {% set items = simplify_menu('menu-header-general') %}
            {# Iterate menu tree #}
            <nav class="menu">
                {% for menu_item in items.menu_tree %}
                    <li class="navigation_item">
                        <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
                    </li>
                {% endfor %}
            </nav>
        </div>
        <div class="right">
            <form action="" class="search">
                <input type="search" name="search" id="search" placeholder="Buscar">
            </form>
            <a href="" class="link sign-in">Iniciar sesión</a>
            <a href="" class="link sign-up">Registrarte</a>
        </div>
    </div>
    <div class="breadcrumb">

    </div>
</header>
