
<div class="box-modal-main" ng-show="showModalReserver">
    <button class="close-modal" ng-click="showModalReserver = false"></button>
    <div class="card">
        {% if not logged_in %}
            {% include path_module ~ '/templates/cards/card-login.html.twig' %}
            {{ drupal_block('user_login_block_poppup') }}
        {% else %}
            {% include path_module ~ '/templates/cards/card-reserver-form.html.twig' %}
            {% include path_module ~ '/templates/cards/card-reserver-now.html.twig' %}
        {% endif %}
    </div>
</div>
   