<div class="main-form-register-user">
    <div class="image-logo__wrapper">
        <figure> 
            <img src="{{ file_url(form['#logo_general_url']) }}">
        </figure>
    </div>
    <div class="user-register-form register-form__wrapper">
        formulario de registro
    </div>
</div>